{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block content %}
    <div class="container">
        <h2>Mon profil</h2>
        <p>En constructiuon...</p>
    </div>
{% endblock %}