{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div class="container">
        <h2>Profil</h2>
        <div class="alert alert-danger" role="alert">En cours d'implantation</div>
    </div>
{% endblock %}