{% extends 'base.html.twig' %}

{% block title %}Accueil administration{% endblock %}

{% block content %}
    <div class="container">
        <h2>Accueil administration</h2>
        <a class="btn btn-primary" href="/admin/utilisateurs" role="button"">Liste des utilisateurs</a>
    </div>
{% endblock %}