<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>
                {% block title %}
                    Nom du forum
                {% endblock %}
            </title>
            {% block stylesheets %}
                {# CSS Bootstrap #}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="/">Accueil</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <a class="btn btn-primary my-2 my-sm-0" href="/login" role="button"">Se connecter</a>
                </div>
            </nav>
        {% endblock %}
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Bienvenue sur notre forum !</h1>
                    <p>Le télétravail, les cours à distance... Ce n'est pas votre tasse de thé ? Venez perdre votre temps avec nous !</p>
                    <p><a class="btn btn-primary btn-lg" href="/register" role="button">S'inscrire &raquo;</a></p>
                </div>
            </div>
            {% block content %}
                {# Enfant #}
            {% endblock %}
        </main>
        {% block footer %}
            <footer class="container">
                <p>&copy; 2020-2021</p>
            </footer>
        {% endblock %}
        {% block javascripts %}
            {# JS Bootstrap #}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
