{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for categorie in categories %}
                <div class="col-md-4">
                    <div class="card mb-4 bg-light">
                        <div class="card-body">
                            <p class="card-text h3">{{ categorie.getNomCate() }}</p>
                            <div class="d-flex flex-row-reverse">
                                <a type="button" class="btn btn-outline-secondary" href="{{ path('categorie', {'idCategorie': categorie.getId()}) }}">Consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}