{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<section class="messages">
    {% for message in messages %}
        <article>
            <p>{{ message.getContenuMess() }}</p>
        </articles>
    {% endfor %}
</section>
{% endblock %}