{% extends '../base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
    <section class="categories">
        {% for categorie in categories %}
        <article>
            <h2>{{ categorie.getNomCate() }}</h2>
            <a href="{{ path('categorie', {'idCategorie': categorie.getId()}) }}" classe="btn btn-primary">go</a>
            </articles>
            {% endfor %}
    </section>
{% endblock %}
